@font-face {
  font-family: "iconfont"; /* Project id 2623876 */
  src: url('iconfont.woff2?t=1624270193015') format('woff2'),
       url('iconfont.woff?t=1624270193015') format('woff'),
       url('iconfont.ttf?t=1624270193015') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-csdn:before {
  left: auto;
  content: "\e601";
  font-size: 16px;
}

.icon-zhihu:before {
  left: auto;
  content: "\e7f8";
  font-size: 19px;
  color: rgb(80, 182, 241);
}

.icon-weixin:before {
  left: auto;
  content: "\e6f6";
  font-size: 19px;
  color: rgb(20, 255, 79);
}

.icon-Bilibili-Bzhan:before {
  left: auto;
  content: "\e606";
  font-size: 19px;
  color: deeppink;
}

.icon-QQ:before {
  left: auto;
  content: "\e6d9";
  font-size: 19px;
  color: rgb(16, 164, 255);
}

